.outer-container {
  display: flex;
  align-items: center;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  flex: 0 0 auto;
  margin: 1rem;
  width: 300px; /* Kártyák fix szélessége */
  scroll-snap-align: start;
}

.btn {
  flex: 0 0 auto;
  margin: 1rem;
}
